bin/*.*
obj/DoesCoreApi.csproj.nuget.g.targets
obj/DoesCoreApi.csproj.nuget.cache
obj/DoesCoreApi.csproj.nuget.g.props
bin/Debug/netcoreapp2.2/DoesCoreApi.dll
bin/Debug/netcoreapp2.2/DoesCoreApi.pdb
bin/Debug/netcoreapp2.2/DoesCoreApi.deps.json
bin/Debug/netcoreapp2.2/DoesCoreApi.runtimeconfig.json
bin/Debug/netcoreapp2.2/DoesCoreApi.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/publish/DoesCoreApi.dll
bin/Debug/netcoreapp2.2/publish/DoesCoreApi.pdb
bin/Debug/netcoreapp2.2/publish/DoesCoreApi.deps.json
bin/Debug/netcoreapp2.2/publish/DoesCoreApi.runtimeconfig.json
bin/Debug/netcoreapp2.2/publish/appsettings.json
bin/Debug/netcoreapp2.2/publish/appsettings.Development.json
bin/Debug/netcoreapp2.2/publish/web.config
bin/Debug/netcoreapp2.2/publish/assets/lazarus/works.json
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/project.assets.json
obj/Debug/netcoreapp2.2/DoesCoreApi.dll
obj/Debug/netcoreapp2.2/DoesCoreApi.pdb
obj/Debug/netcoreapp2.2/DoesCoreApi.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/DoesCoreApi.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/DoesCoreApi.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/DoesCoreApi.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/DoesCoreApi.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/DoesCoreApi.assets.cache
obj/Debug/netcoreapp2.2/DoesCoreApi.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/DoesCoreApi.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/DoesCoreApi.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp2.2/win7-x64/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/netcoreapp2.2/win7-x64/DoesCoreApi.dll
obj/Debug/netcoreapp2.2/win7-x64/DoesCoreApi.pdb
obj/Debug/netcoreapp2.2/win7-x64/DoesCoreApi.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/win7-x64/DoesCoreApi.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/win7-x64/DoesCoreApi.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/win7-x64/DoesCoreApi.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/win7-x64/DoesCoreApi.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/win7-x64/DoesCoreApi.assets.cache
obj/Debug/netcoreapp2.2/win7-x64/DoesCoreApi.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/win7-x64/DoesCoreApi.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/win7-x64/DoesCoreApi.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/win7-x64/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.2/win7-x64/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
site/aws-windows-deployment-manifest.json
obj/Debug/netcoreapp2.2/project.razor.json
obj/Debug/netcoreapp2.2/win7-x64/project.razor.json
obj/netcoreapp2.2/win7-x64/host/DoesCoreApi.exe
site/DoesCoreApi.dll
site/DoesCoreApi.pdb
site/DoesCoreApi.deps.json
site/DoesCoreApi.runtimeconfig.json
site/appsettings.json
site/appsettings.Development.json
.vscode/launch.json
.vscode/tasks.json
